Reset default margins & padding
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 120%;
  position: relative;
}


body {
  background: url("background.png") no-repeat center center;
  background-size: cover;

}

/* Position each image absolutely over the background */
.item-glasses {
  position: absolute;
  width: 300px;    
  top: 80px;     
  left: 300px; 
}

.item-shirt {
  position: absolute;
  width: 300px;    /* Adjust size to your preference */
  bottom: 500px;     /* Adjust these positions to fine-tune placement */
  left: 300px;     
}

.item-fox {
  position: absolute;
  width: 520px;   
  bottom: 250px;    
  right: 200px;   
}
