/* Reset default margins & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 90%;
  height: 100%;
  position:absolute;
}

body {
  background: url("background.png") no-repeat center center;
  background-size: cover;
}

.item-glasses {
  position: absolute;
  width: 400px; 
  top: 60px;     
  left: 300px; 
}

.item-shirt {
  position: absolute;
  width: 400px;  
  bottom: 60px; 
  left: 200px;     
}

.item-fox {
  position: absolute;
  width: 400px;   
  bottom: 5px;   
  right: 65px;   
}
